<h2>Home Page</h2>
<div class="row">
  <div class="col">
    <div class="form-group">
      <input type='text' class="form-control" placeholder='Type to filter the name column...' (keyup)='updateFilter($event)' />
    </div>
  </div>
  <div class="col">
    <div class="float-right">
      <button class="btn btn-primary" (click)="runTask($event)">Run Script</button>
    </div>
  </div>
</div>

<ngx-datatable
  class="material"
  [rows]="rows"
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [externalPaging]="true"
  [count]="page.totalElements"
  [offset]="page.pageNumber"
  [limit]="page.size"
  (page)='setPage($event)'
  [externalSorting]="true"
  [loadingIndicator]="loading"
  (sort)="onSort($event)">
  <ngx-datatable-column name="Task Id">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.taskId}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Task State">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.taskState}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Start Date">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.startDate | date: 'dd/MM/yyyy'}}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
